<h1 class="game-title"><%= game.escape('title') %></h1>

<% if (Vapour.CurrentUser().id === game.author().id) { %>
  <div class="block">
    <a href="#games/<%= game.id %>/edit" class= "blue-button">Edit Your Game</a>
    <button class="add-screenshot blue-button">Add Screenshots</button>
  </div>
<% } %>

<article class="game-head block group">
  <section class="game-screenshots">
    <figure class="screenshot-display"></figure>
    <ul class="game-screenshot-list group">
      <% game.screenshots().each( function(screenshot, index){ %>
        <li class="game-screenshot" data-ord="<%= index %>">
          <figure class="screenshot-thumb">
            <img src="<%= screenshot.get('image_url') %>" alt="" />
          </figure>
        </li>
      <% }) %>
    </ul>
    <div class="screenshot-slider group">
      <button class="slide-left">&larr;</button>
      <div class="slider-bar-container">
        <div class="slider-bar"></div>
      </div>
      <button class="slide-right">&rarr;</button>
    </div>
  </section>

  <section class="game-synopsis">
    <p>
      <%= game.escape('synopsis') %>
    </p>
    <ul class="tags group">
      <% game.tags().each( function(tag) { %>
        <li class="tag">
          <a href="#games/search/<%= tag.id %>" class="tag-name"><%= tag.get('name') %></a>
        </li>
      <% }) %>
    </ul>
  </section>
</article>


<article class="game-main">
  <section class="game-buy">
    Purchase <%= game.escape('title') %>
    <div class="game-buy-input group">
      <strong class="price">$<%= game.get('price') %></strong>
      <button class="add-to-cart green-button">Add to Cart</button>
    </div>
  </section>



  <section class="game-description">
    <h2 class="blue-h">Description</h2>
    <p>
      <%= game.escape('description') %>
    </p>
  </section>
  <a href="#">Back To Index</a>

</article>

<article class="game-sidebar">
  <section class="authorship block">
    Game by <%= game.author().escape('username') %>
  </section>
</article>
