<h1><%= game.escape('title') %></h1>

<% if (Vapour.CurrentUser().id === game.author().id) { %>
  <a href="#games/<%= game.id %>/edit">Edit Your Game</a>
<% } %>

<section class="game-screenshots">
  <h2>Screenshots</h2>
  <ul class="game-screenshot-list">
    <% game.screenshots().each( function(screenshot){ %>
      <li class="screenshot">
        <img src="<%= screenshot.get('image_url') %>" alt="" />
      </li>
    <% }) %>
  </ul>
</section>


<section class="game-buy">
  Purchase <%= game.escape('title') %>:
  <strong class="price">$<%= game.get('price') %></strong>
  <button name="game-buy">Buy Now!</button>
</section>

<section class="game-synopsis">
  <h2><%= game.escape('title') %></h2>
  <p>
    <%= game.escape('synopsis') %>
  </p>
  <ul class="tags">
    <% game.tags().each( function(tag) { %>
      <li class="tag">
        <%= tag.get('name') %>
      </li>
    <% }) %>
  </ul>
</section>

<section class="game-description">
  <h2>Description</h2>
  <p>
    <%= game.escape('description') %>
  </p>
</section>

<section class="author-ship">
  Game by <%= game.author().escape('username') %>
</section>

<a href="#">Back To Index</a>
