<h1><%= @game.title %></h1>

<% if current_user.try(:id) == @game.author_id %>
  <a href="<%= edit_game_url(@game) %>">Edit Your Game</a>
  <a href="<%= new_game_screenshot_url(@game) %>">Add Screenshots To Your Game</a>
<% end %>

<article class="screenshots">
  <% @game.screenshots.each do |screenshot| %>
    <img src="<%= screenshot.image_url %>" alt="" />
    <% if current_user.try(:id) == @game.author_id %>
      <form action="<%= screenshot_url(screenshot) %>" method="post">
        <input type="hidden" name="_method" value="DELETE">
        <%= auth_token_input %>
        <button name="delete" class="delete-screenshot">Delete Screenshot</button>
      </form>
    <% end %>
  <% end %>
</article>

<section class="buy">
  <form action="<%= game_transactions_url(@game) %>" method="post">
    <%= auth_token_input %>
    <input type="hidden" name="transaction[game_id]" value="<%= @game.id %>">
    <button <%= current_user.try(:games).try(:include?,@game) ? "disabled" : "" %>>Buy Now!</button>
  </form>
  <strong class="price">$<%= @game.price %></strong>
</section>

<section class="synopsis">
  <h2>Synopsis</h2>
  <p class="synopsis">
    <%= @game.synopsis %>
  </p>
  <ul class="tags">
    <% @game.tags.each do |tag| %>
      <li class="tag"><%= tag.name %></li>
    <% end %>
  </ul>
</section>

<section class="description">
  <h2>Description</h2>
  <p class="description">
    <%= @game.description %>
  </p>
</section>

Authored by <%= @game.author.username %>
<br>
<a href="<%= games_url %>">Return to Game Index</a>
